@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
  }

  body {
    @apply antialiased text-text-primary;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
  }
}

@layer components {

  .btn-cta {
    @apply px-6 py-3 font-semibold text-white transition-colors rounded-md bg-maroon hover:bg-maroon/90;
  }

  .btn-secondary {
    @apply px-6 py-3 font-semibold transition-colors border-2 rounded-md border-maroon text-maroon hover:bg-beige;
  }

  .btn-primary {
    @apply px-6 py-3 font-semibold text-white transition-colors rounded-md bg-navy hover:bg-teal;
  }

  .btn-learn-more {
    @apply px-6 py-3 font-semibold text-white transition-colors rounded-md bg-new-blue hover:bg-new-blue/90;
  }

  .hero-bg-image {
    background-image: url('../assets/images/Page_imges/HomePage_imges/Fight_for_a_Better_Tomorrow.webp');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
}
